<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <style th:insert="styleTable"></style>
</head>
<body>
<div th:insert="header">...</div>
<div class="btnContainer">
    <button class="button-52" role="button"><a th:href="@{'/loans'}">مشاهده انواع قرض الحسنه</a></button>
    <button class="button-52" role="button"><a>قرعه کشی</a></button>
</div>
<table class="container">

    <thead>
    <tr>
        <th><h1>ردیف</h1></th>
        <th><h1>نام و نام خانوادگی</h1></th>
        <th><h1>کد ملی</h1></th>
        <th><h1>جزییات</h1></th>
    </tr>
    </thead>
    <tbody>
    <tr
            th:each="user : ${users}">
        <td th:text="${user.id}" />
        <td th:text="${user.name}" />
        <td th:text="${user.nationalCode}" />
        <td class="details"><a th:href="@{'/users/' + ${user.id}}">جزییات</a></td>
    </tr>
    </tbody>

    <button class="open-button" onclick="openForm()">ایجاد</button>
    <div class="form-popup" id="myForm">
        <form action="#" th:action="@{/users}" th:object="${userRequest}" method="post" class="form-container">
            <h1>قرض الحسنه</h1>
            <div class="form-group">
                <label for="name"><b>نام</b></label>
                <input class="form-control" type="text"  th:field="*{name}" id="name" placeholder="نام" name="name">
                <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                <p th:if="${#fields.hasErrors('name')}"> <script> document.getElementById("myForm").style.display = "block";</script></p>
            </div>
            <div class="form-group">
                <label for="amount"><b>مقدار پول</b></label>
                <input class="form-control" type="number"  th:field="*{amount}" id="amount" placeholder="مقدار پول" name="name">
                <div class="error" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></div>
                <p th:if="${#fields.hasErrors('amount')}"> <script> document.getElementById("myForm").style.display = "block";</script></p>
            </div>
            <button type="submit" class="btn">ایجاد</button>
            <button type="button" class="btn cancel" onclick="closeForm()">بستن</button>
        </form>
    </div>
</table>
</body>
</html>