<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <style th:insert="styleTable"></style>
</head>
<body>
<div th:insert="header">...</div>
<div class="btnContainer">
    <button class="button-52" role="button"><a th:href="@{'/loans'}">مشاهده انواع قرض الحسنه</a></button>
    <button class="button-52" role="button"><a>قرعه کشی</a></button>
</div>
<table class="container">

    <thead>
    <tr>
        <th><h1>ردیف</h1></th>
        <th><h1>نام و نام خانوادگی</h1></th>
        <th><h1>کد ملی</h1></th>
        <th><h1>جزییات</h1></th>
    </tr>
    </thead>
    <tbody>
    <tr
            th:each="user : ${users}">
        <td th:text="${user.id}" />
        <td th:text="${user.name}" />
        <td th:text="${user.nationalCode}" />
        <td class="details"><a th:href="@{'/users/' + ${user.id}}">جزییات</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>