<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style th:insert="styleTable">
        .btn-price{
            text-align: center;
            margin: auto;
        }
        .price-p{
            font-size: 20px;
            color: yellow;
            text-align: center;
        }
    </style>
</head>
<body>
    <div th:insert="header">...</div>
    <h2 th:text="'نام:'+ ${userLoan.userResponse.name}"/>
    <p class="price-p">موجودی شما : <span th:text="${userLoan.allPrice}"></span></p>
    <a class="btn btn-price btn-primary" th:href="@{'/users/price/' + ${userLoan.userResponse.id}}">افزایش موجودی</a>
    <table class="container">
        <thead>
        <tr>
            <th><h1>ردیف</h1></th>
            <th><h1>نام وام</h1></th>
            <th><h1>مقدار وام</h1></th>
            <th><h1>مقدار پرداخت شده</h1></th>
            <th><h1>وضعیت</h1></th>
            <th><h1>جزییات</h1></th>
        </tr>
        </thead>
        <tbody>
        <tr
                th:each="user : ${userLoan.userLoans}">
            <td th:text="${user.id}" />
            <td th:text="${user.loan.name}" />
            <td th:text="${user.loan.amount}" />
            <td th:text="${user.amount}" />
            <td>
                <span th:if="${user.winner == false}" class="status">برنده نشده</span>
                <span th:if="${user.winner == true}" class="statusG">برنده شده</span>
            </td>
            <td class="details"><a th:href="@{'/users/details/' + ${user.id}}">جزییات</a></td>
        </tr>
        </tbody>
    </table>
    <button class="open-button" onclick="openForm()">ایجاد</button>
    <div class="form-popup" id="myForm">
        <form action="#" th:action="@{/userLoans}" th:object="${userLoanRequest}" method="post" class="form-container">
            <h1>قرض الحسنه</h1>
            <label for="nameA"><b>نام</b></label>
            <select id="nameA" onchange="getComboA(this)">
                <option th:each="i : ${userLoan.loanResponses}" th:value="${i.name+' '+i.amount+' '+userLoan.userResponse.id}" th:text="${i.name+' '+i.amount}">
                </option>
            </select>
            <br>
            <div class="form-group">
                <label for="name"><b>نام</b></label>
                <input readonly class="form-control" type="text"  th:field="*{name}" id="name" placeholder="نام" name="name">
                <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                <p th:if="${#fields.hasErrors('name')}"> <script> document.getElementById("myForm").style.display = "block";</script></p>
            </div>
            <div class="form-group">
                <label for="amount"><b>مقدار</b></label>
                <input readonly class="form-control" type="text"  th:field="*{amount}" id="amount" placeholder="مقدار" name="amount">
                <div class="error" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></div>
                <p th:if="${#fields.hasErrors('amount')}"> <script> document.getElementById("myForm").style.display = "block";</script></p>
            </div>
            <div class="form-group">
                <label for="userId"><b>آیدی کاربر</b></label>
                <input readonly class="form-control" type="text"  th:field="*{userId}" id="userId" placeholder="آیدی کاربر" name="userId">
                <div class="error" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></div>
                <p th:if="${#fields.hasErrors('userId')}"> <script> document.getElementById("myForm").style.display = "block";</script></p>
            </div>
            <button type="submit" class="btn">ایجاد</button>
            <button type="button" class="btn cancel" onclick="closeForm()">بستن</button>
        </form>
    </div>
    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
        function getComboA(selectObject) {
            const newValue = selectObject.value.split(" ");
            document.getElementById("name").value = newValue[0];
            document.getElementById("amount").value = newValue[1];
            document.getElementById("userId").value = newValue[2];
        }
    </script>
</body>
</html>